[{:itonami.blueprint/social-impact [:weather-safety :climate-resilience :public-protection], :itonami.blueprint/domain :research/meteorology-weather-forecasting, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "2112", :itonami.blueprint/name "Research Support: Meteorology", :itonami.blueprint/governor :meteorology-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-2112", :itonami.blueprint/license "AGPL-3.0-or-later"}]
